# Copy this file to .env.local and fill in your own key
# Get a free key at https://aistudio.google.com
GEMINI_API_KEY=
SAFE_BROWSING_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

REDIS_KV_REST_API_URL=
REDIS_KV_REST_API_TOKEN=
